<div class="card">
  {% if card_img_top or block('card_img_top_block') %}
    {% block card_img_top_block %}
      <img src="{{ card_img_top }}" class="card-img-top" alt="{{ card_img_alt }}">
    {% endblock %}
  {% endif %}

  {% if card_header or block('card_header_block') %}
    <div class="card-header">
      {% block card_header_block %}
        {{ card_header }}
      {% endblock %}
    </div>
  {% endif %}

  {% if card_body or block('card_body_block') %}
    <div class="card-body">
      {% block card_body_block %}
        {{ card_body }}
      {% endblock %}
    </div>
  {% endif %}

  {% if card_footer or block('card_footer_block') %}
    <div class="card-footer">
      {% block card_footer_block %}
        {{ card_footer }}
      {% endblock %}
    </div>
  {% endif %}
</div>
